
header{
    background-color: #28251F;
    align-items: center;
    display: flex;
    gap: 400px;
    justify-content: center;
    width: 100%;
    max-width: 100%;







    @media (max-width: 1023px) {
        
        
    }

    




    
}
    header img{
        max-width: 200px;
        align-items: center;
        display: flex;
        margin: 10px;
        width: 100%;

        

        

        
    }

    form{
        
        display: flex;
        justify-content:end ;

    }
    .container-carousel{
        max-width: 100%;
    }
form input{
    background-color: #28251F ;
}

.input-icon{
    position: relative;
    max-width: 250px;

    
}


.input-icon i {
    position: absolute;
    top: 67%;
    left: 175px;
    transform: translateY(-50%);
    color: #888;
    font-size: 23px
}
.input-icon input{
    border-radius: 15px;
    background-color: #6a665d;
    color:white ;
    border: 0;
}

.imagem{
    padding-top: 50px;
    width: 200%;
 
    height: auto;
    aspect-ratio: 4 / 4; 
    object-fit: cover; 
    display: block;
    margin: 0 auto;

}
.container{
    margin: 0;
    padding: 0%;
    display: flex;
    gap:30px;

    @media (max-width: 1023px) {
        display: block;
        gap: 10px;
        text-align: center;
        
        
    }


}
.texto{
    padding-top: 100px;
    font-size: 20px;
    @media (max-width: 1023px) {
        padding-top: 10px;;
        
    }
}
.preco-antigo {
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}
button .compra{
    background-color: black;
}
.container-produtos img{
    max-width: 240px;
}
.container-produtos {
    margin: 0px;
    background-color: #ffffff;
    padding-top: 50px;
    display:flex;
    justify-content:center ;

    align-items:center ;
    gap: 50px;
    




    
}
.produto{
    width: 200px;
    @media (max-width: 1023px) {
        
    
        display: wrap;
    }
    

}

.produto button{
    background-color: black;
    color: white;
    width: 200px;
    border-radius: 20px;
    border: 0;
    font-size: 25px;
    
}
*{
    font-family: "Roboto";
}
.new{
    color: green;
}
.container-nav{

    display: flex;
    justify-content: center;
}

@media (max-width: 1023px) {


    }

    .container-produtos {
    flex-wrap: wrap;
    gap: 100px;
    }

    .produto {
    margin-bottom: 20px;
    }
*{
    overflow-x: hidden;
}


.adress{
    color: rgba(255, 255, 255, 0.632);
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    gap: 10px;

}

.container-login{
    position: relative;
    box-shadow: 0 4px 22px rgba(0, 0, 0, 0.15);
    margin:40px;
    background-color: #ffffff;
    max-width: 70%;
    display: flex;

    border-radius: 20px;
    
}
.log{
    right: 750px;
    background-color: #f9eded;
    border: #ffffff 2px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 290px;
    height: 40px;
    
    

}
::placeholder{
    color: rgba(86, 86, 86, 0.737);
}
h3{
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    
}
.linha-dupla{
    display: flex;
    flex-direction: column;
    max-width: 700%;
    align-items: center;
    padding-top: 100px;
    gap: 20px;


}

.roxo {
    max-width: 300px;
    height: auto;
    align-self: flex-start;
    margin-left: auto;
}
.forget{
    padding-top: 70px;
    position: relative;
    right: 170px ;
}
.container{
    display: none;
}
button .botao{
    display: but;
}
.container-fundo{
    background-color: #d8dfef;
}